# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/7.项目实践/01.纵横捭阖/lab-c/algorithm/Debug
/7.项目实践/01.纵横捭阖/lab-c/algorithm/Release
/7.项目实践/01.纵横捭阖/lab-rust/target
/7.项目实践/01.纵横捭阖/lab-web/lab-electron/node_modules
/7.项目实践/01.纵横捭阖/lab-web/lab-electron/out
