.bitmap-switch-director {
  width: 100%;
  height: 100%;

  .settings {
    border-bottom: 0.5px solid #ccc;
    /* background: #ededff; #f9ffff */
    background: linear-gradient(to bottom, #eeedff, #ffffff);
    padding: 10px 10px 0 10px;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .bitmap-text {
        width: calc(100% - 206px);
      }

      input {
        height: 25px;
        margin-right: 10px;
        border: 1px solid #e5e5e5;
        border-radius: 3px;

        &.bitmap-binary {
          cursor: pointer;
        }
      }

      .query-btn {
        background: #5d9cec;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 3px 10px;
        &:hover {
          background: #77aaef;
        }
      }
    }
  }

  .preview {
    display: flex;

    .navi {
      flex-shrink: 0;
      max-height: 790px;
      overflow: auto;
      /* border: 0.5px solid #ccc; */
      border-left: 0.5px solid #ccc;
      border-right: 0.5px solid #ccc;
      /* background: #f9ffff; */
      /* background: #f9f8ff; */
      border-bottom-left-radius: 5px;

      .view {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 90px;
        position: relative;
        cursor: pointer;
        border-bottom: 0.5px solid #ccc;
        background: linear-gradient(#ffffff, #eeedff, #ffffff);

        :hover, &.active {
          /* background: #f2f2f2; */
          background: #e0ebfb;
        }

        .group-badge {
          position: absolute;
          top: 6px;
          left: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 8px;
          background: #5d9cec;
          color: #ffffff;
          border-radius: 20px;
          padding: 1px 4px;
        }

        .item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: 'Courier New', Courier, monospace;
          flex: 1;
          width: 100%;
          font-size: 12px;
          padding: 5px 0;

          .decimal {
            font-size: 13px;
            margin-bottom: 3px;
          }

          span {
            color: red;
          }
        }
      }
    }

    .panel {
      flex-grow: 1;
      max-height: 770px;
      overflow: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap; /* 超出时自动换行 */
      gap: 10px; /* 项目之间的间隔 */
      padding: 10px;

      .view {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* background: #f2f2f2; */
        background: linear-gradient(to bottom, #eeedff, #ffffff);
        border-radius: 5px;
        padding: 10px;
        min-width: 90px;
        position: relative;
        box-sizing: border-box;

        > * {
          position: relative; /* 确保内容在伪元素之上 */
        }

        .active-border {
          border: 2px solid #5d9cec;
          position: absolute;
          top: -2px;
          left: -2px;
          right: -2px;
          bottom: -2px;
          z-index: -1;
          border-radius: 5px;
        }

        .group-badge {
          position: absolute;
          top: 5px;
          left: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 8px;
          background: #5d9cec;
          color: #ffffff;
          border-radius: 20px;
          padding: 1px 4px;
        }

        .item-header {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: 'Courier New', Courier, monospace;
          flex: 1;
          width: 100%;
          font-size: 12px;
          margin-bottom: 10px;

          .decimal {
            font-size: 13px;
            margin-bottom: 3px;
          }

          span {
            color: red;
          }
        }

        .item-body {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          /* 超出时自动换行 */
          gap: 5px;
          /* 项目之间的间隔 */
          width: 100%;

          .item {
            position: relative;
            padding: 5px 8px;
            font-size: 12px;
            background: #ffffff;
            color: #818181;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            width: 48px;

            &.checked {
              background: #5d9cec;
              color: #ffffff;

              &:hover {
                background: #77aaef;
              }
            }

            &:hover {
              background: #e0ebfb;
              border: 1px solid #5d9cec;
              cursor: pointer;
            }

            .badge {
              position: absolute;
              top: -5px;
              left: 1px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 8px;
              background: red;
              color: #ffffff;
              border-radius: 20px;
              padding: 1px 4px;
            }
          }
        }
      }
    }
  }
}