<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>在线客服</title>

  <link rel="stylesheet" href="./style.css">
  <style type="text/css">
    html,
    body {
      margin: 0;
      height: 100%;
      overflow: hidden;
    }

    .weblab-float-window {
      width: 100%;
      height: 100%;

      .example-url {
        font-size: 12px;
        color: #999999;
        word-wrap: break-word;
      }
    }
  </style>
</head>

<body>
  <div class="weblab-float-window" id="id-weblab-float-window">
    可拖拽参考示例：
    <div class="example-url">拖拽(absolute): <a href="../../pages/example/dragresize/yuanbao_html_20251010_draggable_absolute.html" target="_blank">../../pages/example/dragresize/yuanbao_html_20251010_draggable_absolute.html</a></div>
    <div class="example-url">拖拽(transform): <a href="../../pages/example/dragresize/yuanbao_html_20251011_draggable_transform.html" target="_blank">../../pages/example/dragresize/yuanbao_html_20251011_draggable_transform.html</a></div>
    <div class="example-url">拖拽和缩放: <a href="../../pages/example/dragresize/yuanbao_html_20251011_draggable_resize.html" target="_blank">../../pages/example/dragresize/yuanbao_html_20251011_draggable_resize.html</a></div>
  </div>
</body>

<script src="./index.js"></script>
<script>
  JvtFloatWindow.create({
    rootId: 'id-weblab-float-window',
    title: '客服',
    // isReload: true,
    chatSize: {
      width: 600,
      height: 520,
    },
    data: {
      url: 'https://front2.yunteams.cn/sp/em/freepass/visitor?pluginId=1184676573164363776&channelId=1184672497128587264'
    }
  });
</script>

</html>